* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background: #36782d;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h2 {
    color: #333;
}

.profile-image {
    max-width: 150px;
    border-radius: 50%;
}

section {
    padding: 20px;
    margin: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.project {
    margin: 10px 0;
    border: 1px solid #18562a;
    padding: 10px;
}

.project img {
    max-width: 100%;
    height: auto;
}

footer {
    text-align: center;
    padding: 10px;
    background: #2c9b4f;
    color: white;
    position: relative;
    width: 100%;
    bottom: 0;
}

/* Responsive Design */
@media (max-width: 600px) {
    header {
        padding: 10px;
    }

    section {
        padding: 10px;
    }

    .profile-image {
        max-width: 100px;
    }

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.2em;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    .project {
        margin: 15px;
    }

    .project img {
        max-width: 90%;
    }
}
